<div class="modal fade" id="createNewCD" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new CD</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            </button>
            </div>
            <div class="modal-body">
                <form action="/cd/create" method="post">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Name for CD">
                    <label for="image">Image</label>
                    <input class="form-control" type="text" name="image" placeholder="user/image:tag">
                    <label for="env" class="mt-3">Environment variables</label>
                    <a id="addRow" class="btn btn-success btn-block">Add new environment variable</a>
                    <div id="appendRow">
                        <div id="row" class="form-group form-inline mt-3">
                            <label class="mr-2">ENV</label>
                            <input name="env" class="form-control m-2" placeholder="NAME=value">
                        </div>
                    </div>
                    <label for="env" class="mt-3">Ports</label>
                    <a id="addRow1" class="btn btn-success btn-block">Add new port</a>
                    <div id="appendRow1">
                        <div id="port" class="form-group form-inline mt-3">
                            <label class="mr-2">Port</label>
                            <input name="port" class="form-control m-2" placeholder="PORT:PORT">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let addRow = document.getElementById("addRow")
    let appendRow = document.getElementById("appendRow");
    let count = 1;
    addRow.addEventListener("click", () => {
        let newRow = document.createElement("div");
        newRow.innerHTML =
        `<div id="row${count}" class="form-group form-inline mt-3">
            <div class="position-relative">
                <input required name="env" class="form-control m-2" placeholder="NAME=value">
                <a type="button" id="deleteRow${count}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">X</a>
            </div>
        </div>`
        appendRow.appendChild(newRow);
        removeButtonListener(`#deleteRow${count}`, `#row${count}`)
        count++
    });
    function removeButtonListener(element, row) {
        document.querySelector(element).addEventListener("click", () => {
            document.querySelector(row).remove();
        });
    }
</script>
<script>
    let addRow1 = document.getElementById("addRow1")
    let appendRow1 = document.getElementById("appendRow1");
    let count1 = 1;
    addRow1.addEventListener("click", () => {
        let newRow = document.createElement("div");
        newRow.innerHTML =
        `<div id="port${count1}" class="form-group form-inline mt-3">
            <div class="position-relative">
                    <input required name="port" class="form-control m-2" placeholder="PORT:PORT">
                    <a type="button" id="deleteRow1${count1}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">X</a>
            </div>
        </div>`
        appendRow1.appendChild(newRow);
        removeButtonListener(`#deleteRow1${count1}`, `#port${count1}`)
        count1++
    });
    function removeButtonListener(element, row) {
        document.querySelector(element).addEventListener("click", () => {
            document.querySelector(row).remove();
        });
    }
</script>