<% if(success != ''){ %>
    <script>
        Toast(`<%= success %>`, "success", `Success`);
    </script>
    <!-- <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;" >
        <div class="border-success border-top" style="top: 0; right: 0;">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                <div class="toast-header">
                    <img src="https://cdn.tolfix.com/images/TX-Small.png" width="28" class="rounded mr-2" alt="...">
                    <strong class="mr-auto">Success</strong>
                    <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    <%= success %>
                </div>
            </div>
        </div>
    </div> -->
<% } %> 
    
<% if(error != ''){ %>
    <script>
        Toast(`<%= error %>`, "danger", `Error`);
    </script>
    <!-- <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;" >
        <div class="border-danger border-top" style="top: 0; right: 0;">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                <div class="toast-header">
                    <img src="https://cdn.tolfix.com/images/TX-Small.png" width="28" class="rounded mr-2" alt="...">
                    <strong class="mr-auto">Error</strong>
                    <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    <%= error %>
                </div>
            </div>
        </div>
    </div> -->
<% } %>