@import "./Bootstrap.scss";
@import "./ThemeColors.scss";

body {
    background-color: $theme_darker_dark;
    color: $theme_main_white;
}

.theme-color-green {
    color: $theme_main_green
}

.theme-color-red {
    color: $theme_main_red
}

.theme-color-blue {
    color: $theme_main_blue
}