$theme_main_dark: #595353;
$theme_main_green: #72BA8C;
$theme_main_purple: #ee80dc;
$theme_main_pink: #d9abee;
$theme_main_blue: #78b2e0;
$theme_main_red: #f18986;
$theme_main_orange: #dac26d;
$theme_main_white: #F3EEDB;
$theme_darker_dark: #3F3A3A;
$theme_darker_green: #679A47;
$theme_darker_orange: #aa9856;
$theme_darker_white: #D3CFBD;