<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous"
    />
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <% if (isAuth) { %>
      <script src="/Scripts/Socket.js"></script>
    <% } %>
    <script src="/Scripts/Main.js"></script>
    <script src="/Scripts/Bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/Main.css">
    <title><%= title %></title>
</head>
<body>

  <% if (isAuth) { %>
    <div class="container mt-3">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded shadow">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="https://cdn.tolfix.com/images/TX-Small.png" width="30" height="30" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/config">Config</a>
              </li>
            </ul>
            <a href="https://github.com/Tolfix/dmcd"><img class="m-1" src="https://img.shields.io/badge/Repo-dmcd-orange" alt=""></a>
            <a class="btn btn-danger p-1 m-1" href="/logout">Logout</a>
          </div>
        </nav>
      </div>
    </div>
  <% } %>
  
    <div>
        <%- body %>
    </div>

    <!-- For toast -->
    <div aria-live="polite" aria-atomic="true" class="right-0" >
      <div id="divLogs" class="toast-container position-absolute top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;"></div>
    </div>
    <script src="/Scripts/Toast.js"></script>
    <!-- END | For toast -->

    <%- include("./Partials/Flash") %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>