<div class="container mt-3">

    <a class="btn btn-warning" href="/cd/create">Create new CD</a>

    <div class="mt-3">
        <!-- Loop through each here -->
        <!-- Show status on border, aka running etc -->
        <div class="card border-warning mb-3">
            <div class="row no-gutters">
              <div class="col-md-4 p-5">
                <!-- These options can it be when stuff is happening on the cd.. -->
                <i class="fas fa-pause" style="color: yellow"></i>
                <p>Paused</p>
                <i class="fas fa-play" style="color: green"></i>
                <p>Running..</p>
                <i class="fas fa-stop" style="color: red"></i>
                <p>Stoped</p>
                <i class="fas fa-wrench" style="color: steelblue"></i>
                <p>Building</p>
                <!-- Show activity here? -->
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Title of CD</h5>
                  <p class="card-text">Generel stuff?</p>
                  <a class="btn btn-block btn-warning" href="">Edit</a>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>

</div>